body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.general {
    flex-grow: 1;
    padding: 16px;

    align-items: center;
    background-color: black;
    overflow-y: auto;
    color: white;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wall > p {
    background-color: #464646;
}

#inputs {
    padding-top: 16px;
}